// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$my-white: #FFFFFF;
$my-darkyellow: #F5AF00;
$my-yellow: #FFC533;
$my-lightyellow: #FFD770;
$my-lighteryellow: #FFEEC2;
$my-lightgrey:#F3F3F3;
$my-grey: #AFAFAF;
$my-dark: #383043;
