.background-pantry {
  background-image: linear-gradient($my-darkyellow, $my-lightyellow);
  // height: auto;
  .body-grid {
    padding-bottom: 10rem;
    height: auto;
    margin-bottom: 0;
  }
}

.container-show-pantry {
  h1 {
    color: $my-white;
  }
  .details {
    color: $my-white !important;
  }
}

.background-pantry .topbar > i {
  color: white;
}
