.background-pantry {
  background-image: linear-gradient($my-yellow, #FFEEC2);
  .body-grid {
    margin-bottom: 3rem;
  }
}

.container-show-pantry {
  h1 {
    color: $my-white;
  }
  .details {
    color: $my-white !important;
  }
}

.background-pantry .topbar > i {
  color: white;
}
