.show-recipe-image {
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  height: 300px;
  margin-bottom: 35px;
}

.recipe-description {
  padding: 0 24px;
  margin-bottom: 17px;
}

.show-page {
  height: 90vh;
  margin-bottom: 11rem;
}

.show-page-content {
  margin-bottom: 17px;
}

.show-nav-bar {
  position: absolute;
}

.show-page-p {
  letter-spacing: 1px;
  margin-bottom: -1px;
  line-height: 30px;
}

.show-page-h2 {
  margin-bottom: 17px;
}
