<div data-controller="sweetalert">
<% unless recipes.empty? %>
  <% recipes.each do |recipe| %>
    <%= link_to(pantry_recipe_path(recipe)) do %>
    <div class="card-recipes">
      <div style="width: 120px; height: 100%;">
        <img src="<%= recipe.image %>" />
      </div>
      <div class="card-recipes-infos">
        <h3><%= recipe.name.split(" ").first(4).join(" ") %></h3>
        <% if !(recipe.dish_types == "[]") %>
          <p class="detail"><% recipe.dish_types.split(',').first(2).each do |dish_type| %>
          <%= dish_type.titleize.gsub(/\[|\]|"/, '') %>;
          <% end %></p>
        <% end %>
      </div>
      <div class="card-ingredient-btns">
          <% if current_user.favorited?(recipe) %>
            <p class="card-ingredient-btn recipe-in-cookbook"><i class="fa-solid fa-book-open"></i></p>
          <% end %>
      </div>
    </div>
    <% end %>
  <% end %>
<% else %>
  <div id="sweet-alert-empty-pantry"></div>
<% end %>
</div>
