<div class="bottom-navbar">
  <a href="#"><i class="fa-solid fa-house"></i></a>
  <%= link_to "<i class='fas fa-store'></i>".html_safe, root_path, class: "#{'active' if params[:controller] == 'pantries'}" %>
  <a href="#"><i class="fa-solid fa-book-open"></i></a>
  <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>


</div>
