<div class="bottom-navbar">
  <%= link_to "<i class='fa-solid fa-house icon-navbar'></i>".html_safe, your_recipes_pantry_path, class: "#{'active' if params[:controller] == 'home'}" %>
  <%= link_to "<i class='fas fa-store icon-navbar'></i>".html_safe, pantry_path, class: "#{'active' if params[:controller] == 'pantries'}" %>
  <a href="#"><i class="fa-solid fa-book-open icon-navbar"></i></a>
  <a href="#"><i class="fa-solid fa-basket-shopping icon-navbar"></i></a>
</div>
