<div class="topbar">
  <a href="#"><i class="fa-solid fa-arrow-left dark-topbar-icon"></i></a>
  <div class="user-icon">
    <a href="#"><i class="fa-solid fa-user grey-topbar-icon"></i></a>
  </div>
</div>
