<h1>What ingredients do <br> you want to add?</h1>
<%  @not_have_ingredients.each do |ingredient| %>
  <div class="card-ingredient" data-controller="ingredients-index" data-ingredients-index-id-value=<%= ingredient.id %> data-action="click->ingredients-index#select_ingredient" data-ingredients-index-target="ingredientCard">
    <%= render "ingredient_card", ingredient: ingredient %>
  </div>
<% end %>
