<div class="background-home">
  <div class="landing-container px-4">
    <div>
        <h1 class="mb-3 text-light">What's for dinner?</h1>
        <p class="text-light mb-5">Manage your pantry and find <br>amazing recipes, everyday</p>
        <%= link_to "Explore Recipes",  pantry_recipes_path, class: "primary-btn-home-wfd mb-3"%>
        <%= link_to "Your Pantry", pantry_path, class: "secondary-btn-home-wfd mb-3" %>
        <% if !current_user %>
          <p class="text-light">Already have an account? <%= link_to "Sign in!", new_user_registration_path, class: "text-light" %></p>
        <% else %>
          <br>
        <% end %>
      </div>
  </div>
</div>
