<div class="container-show-pantry">
  <h1>Your shopping list 🛒</h1>
  <% if @shopping_list_ingredients.empty? %>
    <p>You have everything in stock!</p>
  <% else %>
    <% @shopping_list_ingredients.each do |shopping_list_ingredient| %>
      <% unless shopping_list_ingredient.nil? %>
        <div class="card-ingredient">
          <img src="<%= shopping_list_ingredient.ingredient.image %>" />
          <div class="card-ingredient-infos">
            <h3><%= shopping_list_ingredient.ingredient.name.titleize %></h3>
            <p class="detail mb-0">In Stock: <%= shopping_list_ingredient.in_stock %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
