.card-ingredient {
  overflow: hidden;
  height: 5rem;
  background: $my-lightgrey;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.card-image{
  width: 10vh;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
  border-radius: 10px;
  border: 1px solid $my-lightgrey;
  object-fit: none;
}

.card-ingredient-infos {
  padding: 16px 24px;
  width: 20vh;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  h3 {
    margin-bottom: 0;
  }
}

.card-ingredient-btns {
  height: 100%;
  width: 10vh;
  padding: 16px 24px 16px 0;
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  right: 24px;
}

.card-ingredient-btn {
  border: none;
  color: $my-grey;
  background-color: transparent;
  font-size: 18px;
  padding: 0;
}
