.card-product {
  overflow: hidden;
  height: 7rem;
  background: $my-lightgrey;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: fill;
  border-radius: 10px;
}

.card-product .card-product-infos {
  padding: 16px 30px 16px 16px;
}
