.card-ingredient {
  overflow: hidden;
  height: 7rem;
  background: $my-lightgrey;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.card-ingredient img {
  height: 100%;
  width: 120px;
  border-radius: 10px;
  border: 1px solid $my-lightgrey;
  background-color: white;
  object-fit: none;
}

.card-ingredient .card-ingredient-infos {
  padding: 16px 30px 16px 16px;
}
