.bottom-navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 17px;
  position: fixed;
  bottom: 0;
  height: 74px;
  width: 100vw;
  background: white;
  color: $my-grey;
  .active {
    color: $my-yellow;
    border-bottom: 2px solid $my-yellow;
  }
}
