.card-recipes {
  overflow: hidden;
  height: 7rem;
  background: $my-lightgrey;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.card-recipes img {
  height: 100%;
  width: 120px;
  object-fit: fill;
  border-radius: 10px;
  border: 1px solid $my-lightgrey;
}

.card-recipes .card-recipes-infos {
  padding: 20px 16px 16px 16px;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}
