.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 6rem;
  width: 100vw;
  padding: 0 24px;
  position: fixed;
  background-color: white;
}

.recipe-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 6rem;
  width: 100vw;
  padding: 0 24px;
  position: fixed;
  background-color: transparent;
}
.pantry-background {
  background-color: $my-darkyellow;
}
.user-icon {
  height: 32px;
  width: 32px;
  background-color: $my-lightgrey;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.grey-topbar-icon {
  color: $my-grey;
}

.dark-topbar-icon {
  color: $my-dark;
}
