.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 6rem;
  width: 100vw;
  background: white;
  padding: 0 24px;
}

.user-icon {
  height: 32px;
  width: 32px;
  background-color: $my-lightgrey;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grey-topbar-icon {
  color: $my-grey;
}

.dark-topbar-icon {
  color: $my-dark;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}
